
<div class="container">
    <div class = "row">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class = "col-md-offset-1 col-md-10">
            <h1>All Analytics Applications</h1>
            <hr/>
            <% @color_list = ["blue", "teal", "turquoise", "belize-hole", "lime", "wisteria", "green"] %>
            <div class="row">
                <%= wiki_paginate @pages do %>
                    <% @pages.each do |page| %>
                        <div class="col-md-4">
                            <%= link_to wiki_page_path( page.path ) do %>
                                <div class="thumbnail tile tile-wide tile-<%= @color_list[page.id % 7]  %>">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <h2>
                                        <%= page.title %>
                                    </h2>
                                    <p>
                                    <%= wiki_user( page.updator ) %>
                                    <%= l( page.updated_at, :format => :long )%>
                                    </p>
                                </div>
                            <% end -%>
                        </div>
                    <% end -%>
                <% end -%>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
